.drumButton {
    background-color: #dacfce;
    border-radius:10px;
    border:1px solid #000000;
    display:inline-block;
    width: 60px;
    padding-bottom: 50px;
    cursor: pointer;
    font-size: 25px;
    height: 100px;
}
.drumButton.active {
    background-color: #ff2457;
}
.drumButton.selected {
    background-color: green;
}
.drumButton.selected.active {
    background-color: #ff2457;
}