body {
    background-color: darkgrey !important;
    margin-right: 70px !important;
    margin-left: 70px !important;
}
.sequencerButton {
    background-color: black ;
    border-radius: 10px;
    border-color: gray;
    display: inline-block;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.sequencerButton.active {
    background-color: blue;
}
.sequencerButton.cycle {
    background-color: green;
}
.playbackButton {
    background-color: black ;
    border-radius: 10px;
    border-color: gray;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.sequenceContainer {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.drumMachine {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 600px;
    padding: 50px;
    margin-top: 150px;
    position: relative;
}
#visualSound {
    display: inline-block;
}