body {
    background-color: darkgrey !important;
    margin-right: 70px !important;
    margin-left: 70px !important;
}
.sequencerButton {
    color : white;
    background-color: #1d1d1d;
    border-radius: 10px;
    border-color: gray;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}
.sequencerButton:hover {
    color : white;
    background-color: #3d3d3d;
    border-radius: 10px;
    border-color: #696969;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.sequencerButton.active {
    background-color: blue;
}
.sequencerButton.active:hover {
    background-color: #4535b4;
}
.sequencerButton.cycle {
    background-color: green;
}
.playbackButton {
    background-color: black ;
    border-radius: 10px;
    border-color: gray;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.sequenceContainer {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.drumMachine {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 100%;
    height: 600px;
    padding: 50px;
    margin-top: 150px;
    position: relative;
}
.optionButton {
    color : black;
    background-color: antiquewhite;
    border-radius: 10px;
    border-color: black;
    width: 80px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}
#visualSound {
    display: inline-block;
}

#custom-handle, #tempo-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#tempoSlider {
    margin-top: 10px;
    background-color: coral;
    width: 200px;
}
#pitchSlider{
    background-color: #4535b4;
}

.steps {
    margin-left: 80px;
    display: inline-block;
}

.led-blue {
    float: left;
    margin: 15.3px;
    width: 12px;
    height: 12px;
    background-color: #4AB;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
}

.led-blue.on {
    background-color: blue;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #d022ff 0 2px 14px;
}

#kitsDropdown {
    margin-top : 10px;
}