body {
    margin-right: 70px !important;
    margin-left: 70px !important;
    background-color: lightblue !important;
}


.playbackButton:hover {
    background-color: #becc92 !important;
}

.sequenceContainer {
    background-color: #D7816A;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow: inset 0 0 20px #000000;
    float: right;
}

.drumMachine {
    background-color: #BD4F6C;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
    display: inline-block;
    -moz-box-shadow: inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow: inset 0 0 50px #000000;
}

.optionButton {
    width: 80px;
    height: 50px;
    background-color: #DDEDAA !important;
    border-color: black;
}

.optionButtonOsc {
    width: 80px;
    height: 50px;
    background-color: #DDEDAA !important;
    border-color: black;
}

.optionButton:hover {
    background-color: #becc92 !important;;
}

#visualSound {
    display: inline-block;
    float: right;
}

#pitch-handle, #tempo-handle, #volume-handle, #delay-feedback-handle, #delay-time-handle,
#reverb-decay-handle, #reverb-time-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#tempoSlider {
    background-color: #503dff;
}

#pitchSlider {
    background-color: #4535b4;
}

#volumeSlider {
    background-color: limegreen;
}

#delayFeedbackSlider {
    background-color: yellow;
}

#delayTimeSlider {
    background-color: cyan;
}


#reverbTimeSlider {
    background-color: magenta;
}


#reverbDecaySlider {
    background-color: darkcyan;
}


.steps {
    margin-left: 80px;
    display: inline-block;
}

.led-blue {
    float: left;
    margin-left: 15.3px;
    margin-right: 15.3px;
    width: 13px;
    height: 13px;
    background-color: rgba(92, 233, 255, 0);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
}

.led-blue.on {
    background-color: #67f3ff;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #7995ff 0 2px 14px;
}

#kitsDropdown {
    margin-top: 10px;
}

.oscillatorKnob {
    align-content: center;
    text-align: center;
}

.knob {
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.custom {
    background-color: #DDEDAA !important;
}

.custom:hover {
    background-color: #becc92 !important;
}

.playbackContainer {
    overflow: auto;
    background-color: #D7816A;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    float: left;
    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow: inset 0 0 20px #000000;
    padding: 10px;
}


.playOsc {
    background-color: #7996ed !important;
}

.playOsc:hover {
    background-color: #5b71b3 !important;
}

#playButton.active {
    background-color: #7996ed;
}

#banner {
    background-color: black;
}


#knobColumn {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: white !important;
}

#sequencerGrid {
    border: 1px solid black;
    margin-top: 20px;
    background-color: white !important;
}

.sequencerButton {
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    border-color: black;
}

.sequencerButton:hover {
    background-color: lightblue;
}

.sequencerButton.active {
    background-color: gold !important;
}

.buttonColumn {
    margin-top: -14px;
    margin-bottom: -14px;
    position: fixed;
    height: 100%;
}

.optionColumn {
    margin-top: -14px;
    margin-bottom: -14px;
    position: fixed;
    height: 100%;
}

.playbackGrid {
    border: 1px solid black;
    background-color: white !important;
}

.sequencerButton.cycling {
    background-color: pink;
}

.dmTitle {
    font-family: 'Geostar';
    font-size: 40px;
    font-weight: bold;

}